.SearchEngine {
  display: flex;
  padding: 0 10px;
  height: 80%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.Select {
  height: 32px !important;
  width: 250px;
  font-size: 18px;
  text-align: center;
  padding: 0px 0px !important;
  margin: 30px;
}

@media (max-width: 600px) {
  .SearchEngine {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Select {
    height: 32px !important;
    width: 250px;
    font-size: 18px;
    text-align: center;
    padding: 0px 0px !important;
    margin: 0px;
  }
  .Button {
    padding: 4px 12px;
  }
}
